<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <img src="/img/the_simpsons.png" alt="" width="200px" height="100px">
    </nav>
    <%datbaseData.forEach(data=>{%>
        <section>
        <p><%=data.character%></p>
        <p><%=data.quote%></p>
        <img src="<%=data.image%>" alt="" height="300px" width="150px">
    </section>
   <form action="/favorite-quotes/<%=data.id%>" method="GET">
    <button>details</button>
</form>

   <% })%>
    
</body>
</html>